# Import data and remove dupicates

In [ ]:
import pandas as pd

#read in the imported file and read the first n, or five, rows of data from csv file

df = pd.read_csv('/BX-Books.csv',error_bad_lines=False, low_memory=False, encoding='latin-1',sep=';')
df.head()

<ipython-input-36-86e0f5484f38>:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('/BX-Books.csv',error_bad_lines=False, low_memory=False, encoding='latin-1',sep=';')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9
Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9
Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9
Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
df.info()
df.duplicated(subset='Book-Title').sum() # check for redundant entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

29225

In [ ]:
df = df.drop_duplicates(subset='Book-Title')

In [ ]:
assert df.duplicated(subset='Book-Title').sum() < 1 # this should pass if duplicates are down to zero

# Creating Sample Size

In [ ]:
# randomly sample sample_size number of uniqie entries from file
sample_size = 15000
df = df.sample(n=sample_size, replace=False, random_state=490)

df = df.reset_index()
df = df.drop('index', axis=1) # 1 for columns

In [ ]:
df.head() # check random sample size

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0312959443,concourse : a bill smith-lydia chin mystery (a...,s.j.rozan,1996,st. martin's paperbacks,http://images.amazon.com/images/P/0312959443.0...,http://images.amazon.com/images/P/0312959443.0...,http://images.amazon.com/images/P/0312959443.0...
1,1571743979,the beethoven factor: the new positive psychol...,paulpearsall,2003,hampton roads publishing company,http://images.amazon.com/images/P/1571743979.0...,http://images.amazon.com/images/P/1571743979.0...,http://images.amazon.com/images/P/1571743979.0...
2,0412251701,geology and society (environmental resource ma...,donaldrobertcoates,1985,chapman &amp; hall,http://images.amazon.com/images/P/0412251701.0...,http://images.amazon.com/images/P/0412251701.0...,http://images.amazon.com/images/P/0412251701.0...
3,0394751221,the history of sexuality : the use of pleasure,michelfoucault,1990,vintage,http://images.amazon.com/images/P/0394751221.0...,http://images.amazon.com/images/P/0394751221.0...,http://images.amazon.com/images/P/0394751221.0...
4,0515128694,"enemies (carrier action adventures, 15)",keithdouglass,2000,jove books,http://images.amazon.com/images/P/0515128694.0...,http://images.amazon.com/images/P/0515128694.0...,http://images.amazon.com/images/P/0515128694.0...

# Data Cleaning

In [ ]:
# function removes the spaces between Author names to create one word during vectorizing process later

In [ ]:
def clean_text(entry):
  result = str(entry).lower()
  return(result.replace(' ', ''))

In [ ]:
df['Book-Author'] = df['Book-Author'].apply(clean_text)
df['Book-Title'] = df['Book-Title'].str.lower()
df['Publisher'] = df['Publisher'].str.lower()

In [ ]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0312959443,concourse : a bill smith-lydia chin mystery (a...,s.j.rozan,1996,st. martin's paperbacks,http://images.amazon.com/images/P/0312959443.0...,http://images.amazon.com/images/P/0312959443.0...,http://images.amazon.com/images/P/0312959443.0...
1,1571743979,the beethoven factor: the new positive psychol...,paulpearsall,2003,hampton roads publishing company,http://images.amazon.com/images/P/1571743979.0...,http://images.amazon.com/images/P/1571743979.0...,http://images.amazon.com/images/P/1571743979.0...
2,0412251701,geology and society (environmental resource ma...,donaldrobertcoates,1985,chapman &amp; hall,http://images.amazon.com/images/P/0412251701.0...,http://images.amazon.com/images/P/0412251701.0...,http://images.amazon.com/images/P/0412251701.0...
3,0394751221,the history of sexuality : the use of pleasure,michelfoucault,1990,vintage,http://images.amazon.com/images/P/0394751221.0...,http://images.amazon.com/images/P/0394751221.0...,http://images.amazon.com/images/P/0394751221.0...
4,0515128694,"enemies (carrier action adventures, 15)",keithdouglass,2000,jove books,http://images.amazon.com/images/P/0515128694.0...,http://images.amazon.com/images/P/0515128694.0...,http://images.amazon.com/images/P/0515128694.0...

# Condensing Data

In [ ]:
# remove extra data columns
df2 = df.drop(['ISBN', 'Year-Of-Publication', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1)

In [ ]:
# combine each entries columns into one string
df2['data'] = df2[df2.columns[1:]].apply( lambda x: ' '.join(x.dropna().astype(str)), axis=1)

print(df2['data'].head())

0                s.j.rozan st. martin's paperbacks
1    paulpearsall hampton roads publishing company
2            donaldrobertcoates chapman &amp; hall
3                           michelfoucault vintage
4                         keithdouglass jove books
Name: data, dtype: object

In [ ]:
df2['data'].head(15000)

0                    s.j.rozan st. martin's paperbacks
1        paulpearsall hampton roads publishing company
2                donaldrobertcoates chapman &amp; hall
3                               michelfoucault vintage
4                             keithdouglass jove books
                             ...
14995                            owensela bantam books
14996          joyceappleby w. w. norton &amp; company
14997               tonil.p.kelner kensington pub corp
14998                            jean-pauldubois seuil
14999                   stephaniedowrick penguin books
Name: data, Length: 15000, dtype: object

# Vectorizing data

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

# Building Recommender System

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
# get teh cosine sililarities between each book title
similarities = cosine_similarity(vectorized)

In [ ]:
print(similarities)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [ ]:
df = pd.DataFrame(similarities, columns=df['Book-Title'], index=df['Book-Title']).reset_index()

df.head()

Book-Title,Book-Title,concourse : a bill smith-lydia chin mystery (a bill smith/lydia chin novel),"the beethoven factor: the new positive psychology of hardiness, happiness, healing and hope",geology and society (environmental resource management series),the history of sexuality : the use of pleasure,"enemies (carrier action adventures, 15)",the dave matthews band: music for the people,"mr valentine (harlequin temptation, no 624)",gottesdiener und andere liebhaber.,foxfire: confessions of a girl gang,...,"his brother's keeper (harlequin intrigue, no 264)",the best american poetry 2003 : series editor david lehman,the bostonians (vintage books/the library of america),disturb not the dream,a time to love again (timeswept),the kremlin control,telling the truth about history,trouble looking for a place to happen: a laura fleming mystery (laura fleming mystery),kennedy et moi,running backwards over sand
0,concourse : a bill smith-lydia chin mystery (a...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
1,the beethoven factor: the new positive psychol...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.223607,0.0,0.0,0.000000
2,geology and society (environmental resource ma...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.250000,0.0,0.0,0.000000
3,the history of sexuality : the use of pleasure,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.353553,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
4,"enemies (carrier action adventures, 15)",0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.288675,0.333333,0.0,0.333333,0.000000,0.0,0.0,0.333333

# MAKE RECOMMENDATIONS!

In [ ]:
input_book = 'thank you, jeeves'
# make 10 recommendations based on the input book (nlargest returns the highest value in descending order from 1-0 in our case)
recommendations = pd.DataFrame(df.nlargest(11, input_book)['Book-Title'])
# make sure teh input is not recommended
recommendations = recommendations[recommendations['Book-Title']!=input_book]
print(recommendations)

                                             Book-Title
5370                                    the cat-nappers
773                         the mysteries of pittsburgh
784   jeeves and the feudal spirit: a jeeves and ber...
1000  free the children: a young man fights against ...
1509  deck the halls with buddy holly: and other mis...
1907  family, sex and marriage in england 1500-1800 ...
2278                everything is illuminated : a novel
2927                           hitler's niece : a novel
3646  the simpsons forever! a complete guide to our ...
3648                       why do clocks run clockwise?